/* TRANSITION FROM SCSS */

body,
html {
    padding: 0;
    margin: 0;
    background: #69f;
}

#body {
    color: #fff;
    font-family: 'Droid Sans', sans-serif;
    /* Center vertically and horizontally */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#body f {
    font-size: 0.8em;
    color: #c2c9d6;
}

#body f a {
    color: inherit;
}

#body h2 {
    font-size: 2.5em;
}

#body ul {
    padding: 0;
    font-size: 2em;
}

#body ul a {
    color: inherit;
    text-decoration: none;
}

#body ul li {
    display: inline-block;
    width: 1.2em;
}

#body ul li.grow {
    transition: all 0.1s ease-in-out;
}

#body ul li.grow:hover {
    transform: scale(1.5);
}